.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 5rem;
  padding: 2rem 3rem;
  font-size: 2.5rem;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 0.5rem var(--black);
}

.input__box:focus {
  box-shadow: 0 0 1rem 100rem rgba(0, 0, 0, 0.5);
  outline: none;
}

.input__submit {
  position: absolute;
  width: 5rem;
  height: 5rem;
  margin: 1.2rem;
  border-radius: 5rem;
  right: 0;
  border: none;
  font-size: 1.5rem;
  background-color: var(--orange);
  transition: 0.2s all;
  box-shadow: 0 0 1rem var(--warm-black);
  color: var(--white);
}

.input__submit:hover {
  background-color: var(--warm-orange);
  cursor: pointer;
}

.input__submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 0.5rem var(--black);
}

.container {
  display: flex;
  width: 95%;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  display: flex;
  width: 47.5%;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.todos__heading {
  font-size: 3rem;
  color: var(--white);
}

.todos__single {
  display: flex;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 1.5rem;
  background-color: var(--warm-black);
  align-items: center;
  transition: 0.2s;
}

.todos__single:hover {
  box-shadow: 0 0 1rem var(--grey);
  transform: scale(1.03);
}

s {
  color: var(--grey);
}

.todos__single--text {
  flex: 1;
  padding: 0.5rem;
  border: none;
  font-size: 2rem;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.remove {
  color: var(--grey);
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
    margin-bottom: 1rem;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
}
