.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 5rem;
  padding: 2rem 3rem;
  font-size: 2.5rem;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 0.5rem var(--black);
}

.input__box:focus {
  box-shadow: 0 0 1rem 100rem rgba(0, 0, 0, 0.5);
  outline: none;
}

.input__submit {
  position: absolute;
  width: 5rem;
  height: 5rem;
  margin: 1.2rem;
  border-radius: 5rem;
  right: 0;
  border: none;
  font-size: 1.5rem;
  background-color: var(--orange);
  transition: 0.2s all;
  box-shadow: 0 0 1rem var(--warm-black);
  color: var(--white);
}

.input__submit:hover {
  background-color: var(--warm-orange);
  cursor: pointer;
}

.input__submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 0.5rem var(--black);
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.todos__single {
  display: flex;
  width: 29.5%;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 1.5rem;
  background-color: var(--warm-black);
  align-items: center;
}

.todos__single--text {
  flex: 1;
  padding: 0.5rem;
  border: none;
  font-size: 2rem;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .todos__single {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
  }
  .todos__single {
    width: 100%;
  }
}
