:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #20202a;
  --warm-black: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  --just-white: #fff;
  --orange: #fb8122;
  --warm-orange: #f29d5d;
  --grey: #8c8c8e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: var(--warm-black);
  color: var(--just-white);
}
